<div class="row-fluid">
  <h1 class="page-header">
    Easy Pic for Lazy readers and folks
    <small>For the lazy and impatient.</small>
  </h1>
    
  <div class=span12>
        <img ph-img="777x250" class="img-polaroid" />
  </div>

  <div>
  <li>
  <li ng-repeat="address in miscParamsaddress">
    <ul>{{address}}</ul>
  </li>

   <a href="#/misc/{{id}}" class="thumb">
  <img ng-src="{{miscParamsname}}"></a>
  
  
  <div ng-repeat="post in posts">
	
	<p>{{post.title}}</p>
		<div class="span4">
		 <a href="#misc/{{post.id}}" class="thumb">
		 <img src={{post.thumbpicurl}}></a>
		 <p>{{post.description}}</p>
		 <div class='time'>{{post.time}} - {{post.author}} </div>
		</div>
	
  </div>

  
</div>

